[Profile0]
Name={{firefox_custom_profile_1_name}}
IsRelative=1
Path={{firefox_custom_profile_1_name}}
Default=1

{% if firefox_custom_profile_2_enabled %}
[Profile1]
Name={{firefox_custom_profile_2_name}}
IsRelative=1
Path={{firefox_custom_profile_2_name}}
{% endif %}

{% if firefox_custom_profile_3_enabled %}
[Profile2]
Name={{firefox_custom_profile_3_name}}
IsRelative=1
Path={{firefox_custom_profile_3_name}}
{% endif %}

[General]
StartWithLastProfile=0
Version=2
